/* @theme w283 */

@import "default";
* {
  font-family: '筑紫A丸ゴシック', sans-serif;
}

section {
  padding: 2rem;
  h1 {
    color: #333;
    font-size: 48px;
  }
  ul {
    color: #555;
  }
  .footnote {
    position: absolute;
    bottom: 36px;
    left: 12px;
    font-size: 14px;
    color: #888;
  }
  cursor: url("img/laserpointer.svg"), pointer;
}

header {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  top: unset !important;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 6px !important;
  width: 100% !important;
  text-align: center;
  z-index: 1;
}

footer {
  color: #fff;
  width: 100%;
  left: 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  bottom: -0.5%;
  background: linear-gradient(to right, #5bc7b0, #5ba0c7);
}

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  color: #fff;
  right: 16px;
  bottom: 8px;
  font-size: 14px;
}

section:not([class]) {
  h1::after {
    content: "";
    width: 40%;
    position: absolute;
    left: 40px;
    display: block;
    margin: 4px 0;
    height: 4px;
    background: linear-gradient(to right, #5bc7b0,#5ba0c7ff , #5ba0c700);
  }
  img {
    position: absolute;
    bottom: 80px;
    right: 60px; 
    max-width: 600px;
    height: auto;
  }
}

section.title-slide {
  h1 {
    text-align: center;
    color: #333;
    font-size: 64px;
    margin: 0;
    padding: 0;
  }
  h1:not(:has(+ ul))::after {
    content: "";
    display: block;
    width: 90%;
    margin: 4px auto;
    height: 4px;
    background: linear-gradient(to right, #5bc7b0, #5ba0c7);
  }
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    li {
      margin: 0 0;
      color: #555555;
      font-size: 36px;
    }
    &::after {
      content: "";
      display: block;
      width: 90%;
      margin: 0 auto;
      height: 4px;
      background: linear-gradient(to right, #5bc7b0, #5ba0c7);
    }
  }
}

section.centering {
  h1 {
    text-align: center;
  }

  h1::after {
    content: "";
    width: 50%;
    display: block;
    margin: 4px auto;
    height: 4px;
    background: linear-gradient(to right, #5bc7b0,#5ba0c7ff , #5ba0c700);
    position: unset;
  }
  li {
    width: 600px;
    margin: 0 auto;
  }
  img {
    position: unset;
    max-width: 1000px;
    margin: 20px auto;
    display: block;
    height: auto;
  }
}

section.compare {
  h1 {
    color: #333;
    font-size: 48px;
    text-align: center;
  }

  h1::after {
    content: "";
    width: 50%;
    display: block;
    margin: 4px auto;
    height: 4px;
    background: linear-gradient(to right, #5bc7b0,#5ba0c7ff , #5ba0c700);
    position: unset;
  }

  div {
    display: flex;
    div {
      width: 45%;
      display: flex;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      border: 1px solid #ccc;
      h2 {
        color: #333;
        font-size: 36px;
        text-align: center;
      }
      li {
        width: 600px;
        margin: 0 auto;
      }
      img {
        position: unset;
        max-width: 1000px;
        margin: 20px auto;
        display: block;
        height: auto;
      }
    }
  }
}

section.right-full-image {
  position: relative;
  overflow: hidden;
  div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 116px);
    top: 0;
    left: 0;
    box-sizing: border-box;
    position: relative;

    div:first-child {
      text-align: left;
      flex-direction: column;
      flex: 1;
    }

    div:nth-child(2) {
      height: 100vh;
      max-width: 50%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      right: 0;
      bottom: 0;
      margin-right: -58px;
      margin-top: -64px;
      img {
        height: 100%;
        width: auto;
        object-fit: cover;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

section.text-center {
  h1 {
    text-align: center;
  }
  h1::after {
    background: unset;
  }
}
